
body{
    margin: 0px;
}
nav{
    width: 300px;
    
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    
}
a{
    color: black;
    text-decoration: none;
    
}
.main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}